
body {
    background-color: honeydew;
}

#bannerImg {
    min-height: 225px;
    width: 100%;
    background-image: url("../Assets/tempBanner.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 75px;
    background-color: lightgray;

    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.bannerTitle{
    color:#4d4d33;
    font-size: 60px;
    border: 3px solid black;
    background-color: honeydew;
    opacity: 0.75;
}

.input {
    background-color: whitesmoke;
}

.searchbarContainer{
    margin-bottom: 5vw;
}

#searchBtn{

    background-color: #e0e0d1;
    border-radius: 10px;
}

.customCard {
    background-color: #a3a375;
    margin: 10px;
    min-width: 30vw;
    max-width: 35vw;
    border-radius: 15px;
    padding: 5px;
    border-color: #a3a375;
    border-style: solid;

}

.customCard p{

    line-height: .75;

}

.eventBtn{
    background-color: #e0e0d1;
    border-radius: 10px;
}

#previous{
    background-color: #e0e0d1;
    border-radius: 10px;
}

#next{
    background-color: #e0e0d1;
    border-radius: 10px;
} 

.scrollBtn{
    display: flex;
    justify-content: space-between;

}

/* @media screen and (min-width: 960px) {
    .customCard {
      min-width: 35vw;
    }
  } */