
body {
    background-color: honeydew;
}

#bannerImg {
    min-height: 225px;
    width: 100%;
    background-image: url("../Assets/tempBanner.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 75px;
    background-color: lightgray;
}

.input {
    background-color: whitesmoke;
}

.searchbarContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
} 

.customCard {
    background-color: silver;
    margin: 10px;
    border-radius: 15px;
    padding: 5px;
    border-color: darkblue;
    border-style: solid;
}

